

/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');


/* Color palette */

:root {
	--blue-green: #13a19c;
	--cloudy-blue: #d4d4df;
	--dark: #242e41;
	--dark-two: #31384b;
	--lipstick: #e1151c;
	--cherry-red-80: rgba(225, 11, 20, 0.8);
	--neon-blue: #00d3ff;
	--white: #ffffff;
	--font: 'Lato', sans-serif;
}

.App {
	text-align: center;
	background-color: rgba(36,46,65,0.75);
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
	cursor: pointer;
}

.App-header {
	width: 100%;
	height: 0px;
	background-position: center;
	background-size: cover;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}


.noSelect {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	user-drag: none; 
	-webkit-user-drag: none;
}

.center {
	justify-content: center;
	justify-items: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	align-content: center;
}
